<html> 
  <head>
    <pre><code>
      Git Commit              :: <a href="https://github.com/concord-consortium/mysystem_sc/commit/<%= @git_sha %>"><%= @git_sha %> </a>
      Git Commit Time         :: <%= @git_time %>
      Git Branch Names        :: <%= @git_branch %>
      Sproutcore Build Time   :: <%= @sc_build_time %>
      Sproutcore Build Number :: <%= @sc_build_number %>
    </code></pre>
  </head>
  <body>
</body>
</html>
